.page-content {
  width: 80%;
  margin: 0 auto;
}

.banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  margin-top: -64px;
  min-height: 100%;
  height: auto;
  width: auto;
  background-color: #f3f3f3;
  background-size: cover;
}

.vertical-align-middle {
  resize: vertical;
}

.padding-bottom-3 {
  padding-bottom: 3px;
}

.continue-fab {
  position: absolute;
  right: 20%;
  bottom: -15px;
  z-index: 3;
  background: #f44336 !important;
  color: white !important;
}
