body {
  background-color: #EEEEEE;
}
.page-content {
  width: 80%;
  margin: 0 auto;
}

.banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  min-height: 100%;
  padding-bottom: 30px;
  height: auto;
  width: auto;
  background-size: cover;
}

.vertical-align-middle {
  resize: vertical;
}

.padding-bottom-3 {
  padding-bottom: 3px;
}

.continue-fab {
  position: absolute;
  right: 20%;
  bottom: 15px;
  z-index: 3;
  background: #f44336 !important;
  color: white !important;

  & a:link, & a:visited {
    background-color: #f44336;
    -webkit-transition: .2s background-color;
    transition: .2s background-color;
  }
  & a:active, & a:hover {
    background-color: #ffffff;
  }
}
