.demo-card-wide.mdl-card {
  width: 512px;
}
.mdl-card__title {
  background: url('../../images/welcome_card.jpg') center / cover;
}
.EditNewCard {
  text-align: center;
  color: #f44336;
  & .mdl-textfield--floating-label.is-dirty .mdl-textfield__label {
    color: #f44336;
    border-bottom: #f44336;
  }
  & h1 {
    font: 15pt normal;
    text-transform: uppercase;
    text-align: center;
  }
}
