<div class="mdl-grid">
  <div class="mdl-layout-spacer">
    <div class="demo-card-wide mdl-card mdl-shadow--2dp">

      <% if @mother_listing.photo.nil? %>
      <%= image_tag "mother_listing_image_default.png", height: 300, crop: :fill %>
      <% else %>
      <%= cl_image_tag @product.photo.path, width: 200, height: 300, crop: :fill %>
      <% end %>

      <div class="mdl-card__title"><h1><%= @mother_listing.first_name %></h1></div>

      <div class="mdl-card__supporting-text">

        <h2 class="mdl-card__title-text">About this mom:</h2>
        <%= @mother_listing.description %>

        <h2 class="mdl-card__title-text">Her Skills:</h2>

      </div>
    <!-- <div class="mdl-card__actions mdl-card--border">
      <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
        Get Started
      </a> -->
    </div>
    <div class="mdl-card__menu">
      <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
        <i class="material-icons">share</i>
      </button>
    </div>



  </div>
</div>
