<div class="mdl-grid">
  <div class="mdl-layout-spacer">
  <div class="demo-card-wide mdl-card mdl-shadow--2dp">
    <div class="mdl-card__title">
    <%= image_tag "mom1.jpg" %>
    </div>
    <div class="mdl-card__supporting-text">
    <h2 class="mdl-card__title-text">About this mom:</h2>
    <%= @mother_listing.description %>
    <h4>Her Skills:</h4>
   <%= link_to 'Edit', edit_mother_listing_path(@mother_listing) %>
   <%= link_to 'Book', new_mother_listing_booking_path(@mother_listing) %>
    </div>

    </div>
    <div class="mdl-card__menu">
      <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
        <i class="material-icons">share</i>
      </button>
    </div>
  </div>
  </div>
