<header class="mdl-layout__header nav-down">
  <div class="mdl-layout__header-row">
    <span class="mdl-layout-title"><%= link_to 'Rent A Mum', root_path %></span>
    <div class="mdl-layout-spacer"></div>
    <nav class="mdl-navigation mdl-layout--large-screen-only">
      <%= link_to 'Sign up', new_user_registration_path %>
      <%= link_to 'Sign in', new_user_session_path %>

      <a class="mdl-navigation__link" href="">Create a Mum</a>
    </nav>
  </div>
</header>
<div class="mdl-layout__drawer mdl-layout--small-screen-only">
  <span class="mdl-layout-title">Title</span>
  <nav class="mdl-navigation">
    <a class="mdl-navigation__link" href="">Sign Up</a>
    <a class="mdl-navigation__link" href="">Sign In</a>
    <a class="mdl-navigation__link" href="">Create a Mum</a>
  </nav>
</div>

